.container {
	display: flex;
	flex-direction: row;
  height: 100vh;
  margin: 0;
}

.sideBar {
	display: flex;
	max-width: fit-content;
	flex-direction: column;
	height: 100%;
	background-color: #ffffff;
	justify-content: space-between;
}

.sideNavRelatedItemsDiv {
	display: flex;
	flex-direction: column;
	max-width: fit-content;
	max-height: fit-content;
	background-color: #ffffff;
	
}

.homeAndSettingsDiv {
	display: flex;
	flex-direction: column;
	max-width: fit-content;
	max-height: fit-content;
	background-color: #ffffff;
}

.sideNav {
	display: flex;
	height: 100%;
	min-width: 400px;
}

.resizer {
  width: 5px;
  cursor: ew-resize;
	user-select: none;
	flex-shrink: 0;
  background-color: #d1d1d1;
}

.sideNavExplorer {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	background-color: #f9f9f9;
	overflow-x: hidden;
	overflow-y: auto;
}

.sideNavAttachedFiles {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	background-color: #f9f9f9;
}

.sideNavSearch {
	display: flex;
	height: 100%;
	width: 100%;
	background-color: #f9f9f9;
	justify-content: center;
	align-items: center;
}

.sideNavSourceControl {
	display: flex;
	height: 100%;
	width: 100%;
	background-color: #f9f9f9;
	justify-content: center;
	align-items: center;
}

.sideNavSettings {
	display: flex;
	height: 100%;
	width: 100%;
	background-color: rgb(0, 0, 0);
}

.chatArea {
	display: flex;
	flex: 1;  /* necessary for chat component to be able to float when slider moves*/
	flex-direction: column;
	height: 100%;
	background-color: #ffffff;
}

.is-hidden {
  display: none;
}