/* Remove all margin and ensure full viewport */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

app-root {
  display: block;
  height: 100%;
  width: 100%;
}

/* TAB TEXT AND UNDERLINE COLOR UPDATE_START */
/* UNSELECTED TEXT COLOR */
.mat-mdc-tab .mdc-tab__text-label {
  color: #a1a1a1;
}

/* SELECTED TEXT COLOR */
.mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
  color: #5c5c5c !important;
}

/* SELECTED UNDERLINE COLOR */
.mat-mdc-tab .mdc-tab-indicator__content--underline {
  border-color: #5c5c5c !important;
}
/* SELECTED TAB TEXT AND UNDERLINE COLOR UPDATE_END */

/* CHANGE TEXT AREA BORDER COLOR AND FLOAT LABEL COLOR CHANGE ON PRESS_START */
.mdc-text-field--outlined.mdc-text-field--focused .mdc-notched-outline__leading {
  border-color: #a1a1a1 !important;
}

.mdc-text-field--outlined.mdc-text-field--focused .mdc-notched-outline__notch {
  border-color: #a1a1a1 !important;
}

.mdc-text-field--outlined.mdc-text-field--focused .mdc-notched-outline__trailing {
  border-color: #a1a1a1 !important;
}

.mdc-floating-label--float-above {
  color: #a1a1a1 !important;
}
/* CHANGE TEXT AREA BORDER COLOR AND FLOAT LABEL COLOR CHANGE ON PRESS_END */

/* CHANGE TEXT AREA BORDER COLOR AND FLOAT LABEL COLOR CHANGE ON PRESS_START */
.mdc-text-field--outlined.mdc-text-field--focused .mdc-notched-outline__leading {
  border-color: #a1a1a1 !important;
}

.mdc-text-field--outlined.mdc-text-field--focused .mdc-notched-outline__notch {
  border-color: #a1a1a1 !important;
}

.mdc-text-field--outlined.mdc-text-field--focused .mdc-notched-outline__trailing {
  border-color: #a1a1a1 !important;
}

.mdc-floating-label--float-above {
  color: #a1a1a1 !important;
}
/* CHANGE TEXT AREA BORDER COLOR AND FLOAT LABEL COLOR CHANGE ON PRESS_END */

/* CHANGE DROPDOWN SELECTED ITEM COLOR, THE TICK COLOR AND THE UNDERLINE COLOR_START */
.mat-mdc-option.mdc-list-item--selected .mdc-list-item__primary-text {
  color: #5c5c5c !important;
}

.mat-pseudo-checkbox-minimal.mat-pseudo-checkbox-checked::after,
.mat-pseudo-checkbox-minimal.mat-pseudo-checkbox-indeterminate::after {
  color: #5c5c5c !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::after {
  border-bottom-color: #5c5c5c !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-floating-label, .mdc-text-field--filled:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-floating-label--float-above {
  color: #5c5c5c !important;
}
/* CHANGE DROPDOWN SELECTED ITEM COLOR THE TICK COLOR AND THE UNDERLINE COLOR_END */

/* SPINNER COLOR */
.mat-mdc-progress-spinner .mdc-circular-progress__determinate-circle, .mat-mdc-progress-spinner .mdc-circular-progress__indeterminate-circle-graphic {
  stroke: #5c5c5c !important;
}